<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <title>Registrati</title>

    <style>
        .contCust{
            border-radius: 10px;
            border: 3px solid white;
        }
    </style>
</head>



<body class="bg-dark">


        <div class="container bg-danger col-8 off-set-2 col-md-6 off-set-md-4 mt-5 pt-5 contCust">
            <h3>Registrati</h3>
            <form action="#" th:action="@{/user/save}"  th:object="${user}" method="POST">
                <div class="form-group pt-3 mx-3">
                    <label for="exampleInputEmail1">Email address</label>
                    <input  th:field="*{email}" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                    <small id="email" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group pt-3 mx-3">
                    <label for="exampleInputPassword1">Username</label>
                    <input type="text"  th:field="*{username}" class="form-control" id="username" placeholder="Password">
                </div>
                <div class="form-group pt-3 mx-3">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password"  th:field="*{password}" class="form-control" id="password" placeholder="Password">
                </div>

                <div class="form-group pt-3 pb-3 mx-3">
                    <label for="exampleInputPassword1">Data di nascita</label>
                    <input type="date"  th:field="*{dataDiNascita}" class="form-control" id="dataDiNascita" placeholder="Password">
                </div>

                <button type="submit" class="btn btn-primary my-3 mx-3">Submit</button>
            </form>


            <p class="link-custom mt-3 pt-2 mx-2 ">Hai gia un account? <a th:href="@{/login}" class="" href="" >clicca qui</a> </p>
        </div>

        </div>

<!--<div class="container bg-danger">-->

<!--    <h3>Registrazione</h3>-->
<!--    <hr>-->


<!--    <form action="#" th:action="@{/user/save}"-->
<!--          th:object="${user}" method="POST">-->

<!--        &lt;!&ndash; Add hidden form field to handle update &ndash;&gt;-->
<!--&lt;!&ndash;        <input type="hidden" th:field="*{id}" />&ndash;&gt;-->

<!--        <input type="text" th:field="*{username}"-->
<!--               class="form-control mb-4 col-4" placeholder="Inserisci il tuo Username">-->

<!--        <input type="email" th:field="*{email}"-->
<!--               class="form-control mb-4 col-4" placeholder="inserisci la tua email">-->

<!--        <input type="password" th:field="*{password}"-->
<!--               class="form-control mb-4 col-4" placeholder="Inserisci la password">-->

<!--        <input type="date" th:field="*{dataDiNascita}"-->
<!--               class="form-control mb-4 col-4" placeholder="Inserisci la tua data di nascita">-->

<!--        <button type="submit" class="btn btn-info col-2">Save</button>-->

<!--    </form>-->


<!--</div>-->
</body>

</html>










