<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>


    <style>
        .contCust{
            border-radius: 10px;
            border: 3px solid white;
        }
    </style>

    <title>Aggiungi Film</title>
</head>

<body class="bg-dark">



<div class="container bg-danger col-8 off-set-2 col-md-6 off-set-md-4 mt-5 pt-5 contCust">
    <h3>Crea Film</h3>

    <form action="#" th:action="@{/film/save}"
          th:object="${film}" method="POST" enctype="multipart/form-data">

        <label >Genere</label>

        <select th:field="*{genere}" class="form-control">
            <option th:each="genere: ${generiList}" th:value="${genere.id}" th:text="${genere.nomeGenere}"></option>
        </select>

        </tr>

        <input type="hidden" th:field="*{id}" />


        <div class="form-group pt-3 mx-3">
            <label >Titolo</label>
            <input  th:field="*{titolo}" type="text" class="form-control"  placeholder="Inserisci titolo">

        </div>
        <div class="form-group pt-3 mx-3">
            <label >Regista</label>
            <input  th:field="*{regista}" type="text" class="form-control"  placeholder="Inserisci regista">

        </div>

        <div class="form-group pt-3 mx-3">
            <label >Anno</label>
            <input  th:field="*{anno}" type="text" class="form-control"  aria-describedby="emailHelp" placeholder="Inserisci anno">

        </div>
        <div class="form-group pt-3 mx-3">
            <label >Immagine</label>
            <input  th:field="*{immagine}" type="string" class="form-control"  aria-describedby="emailHelp" placeholder="Inserisci immagine">

<!--            <input th:field="*{immagine}" th:type="file" th:name="file" class="form-control-file">-->
        </div>

<!--        <div class="form-group pt-3 mx-3">-->
<!--            <label >Immagine</label>-->
<!--            <input  th:field="*{immagine}" type="file" class="form-control" th:name="file" placeholder="Inserisci immagine">-->

<!--            &lt;!&ndash;            <input th:field="*{immagine}" th:type="file" th:name="file" class="form-control-file">&ndash;&gt;-->
<!--        </div>-->

        <div class="form-check">
            <input class="form-check-input" type="checkbox" th:field="*{vm18}"  value="boolean" id="vm18">
            <label class="form-check-label" for="vm18">
                è vietato ai minori?
            </label>
        </div>


        <button type="submit" class="btn btn-primary my-3 mx-3">Submit</button>
    </form>


    <p class="link-custom mt-3 pt-2 mx-2 ">Hai gia un account? <a th:href="@{/login}" class="" href="" >clicca qui</a> </p>
</div>

</div>
</body>

</html>










