<!DOCTYPE HTML>
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<head>
    <title>Thymeleaf Demo</title>

    <!--    <link rel="stylesheet"-->
    <!--          th:href="@{/css/demo.css}" />-->
    <!-- Required meta tags -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <link th:href="@{/css/main.css}" rel="stylesheet">

    <style>
        :root {
            --primary: rgb(0, 0, 0);
            --secondary: rgb(255, 0, 0);
            --accent: rgb(255, 255, 255);
        }

        * {
            font-family: 'Kanit', sans-serif;
        }


        .spacingL {
            letter-spacing: 3px;

        }

        .logo {
            letter-spacing: 3px !important;
        }

        .textSec {
            color: var(--secondary) !important;
            /* border: 1px solid white; */
        }

        .borderDown {
            border-bottom: 3px solid white;
        }

        .logo {
            text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
        }

        .onBord {
            margin-left: 10px;
            margin-right: 10px;
        }

        .onBord:hover {
            border-radius: 7px;
            z-index: 999;
            transform: scale(1.1);
            webkit-box-shadow: inset 0px 0px 0px 2px rgb(255, 255, 255);
            -moz-box-shadow: inset 10px 0px 0px 2px rgb(255, 255, 255);
            box-shadow: inset 0px 0px 0px 2px rgb(255, 255, 255);
        }


        .btnCustom {
            text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
        }

        .searchRow {
            border-radius: 10px;
            border: 2px solid white;
        }

        .textWhiteC {
            color: white;
            text-shadow: 1px 0 0 rgb(0, 0, 0), -1px 0 0 rgb(0, 0, 0), 0 1px 0 rgb(0, 0, 0), 0 -1px 0 rgb(0, 0, 0), 1px 1px rgb(0, 0, 0), -1px -1px 0 rgb(0, 0, 0), 1px -1px 0 rgb(0, 0, 0), -1px 1px 0 rgb(0, 0, 0);
        }

        .navbar-brand:hover {
            -webkit-box-shadow: inset 0px 0px 0px 3px rgb(255, 255, 255);
            -moz-box-shadow: inset 0px 0px 0px 3px rgb(255, 255, 255);
            box-shadow: inset 0px 0px 0px 3px rgb(255, 255, 255);
        }

        .btn-c {
            background-color: rgb(255, 123, 0);

        }

        .btn-c:hover {
            -webkit-box-shadow: inset 0px 0px 0px 3px rgb(255, 255, 255);
            -moz-box-shadow: inset 0px 0px 0px 3px rgb(255, 255, 255);
            box-shadow: inset 0px 0px 0px 3px rgb(255, 255, 255);
        }

        .border-left {
            border-left: 6px solid rgb(255, 115, 0);
        }

        .img-resize {
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }

        #cards_landscape_wrap-2 .card-flyer .image-box {
            background: #ffffff;
            overflow: hidden;
            box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.50);
            border-radius: 5px;

        }

        #cards_landscape_wrap-2 .card-flyer .image-box img {
            -webkit-transition: all .9s ease;
            -moz-transition: all .9s ease;
            -o-transition: all .9s ease;
            -ms-transition: all .9s ease;
            width: 100%;
            height: 100%;
        }

        .card-flyer {
            overflow: hidden;
        }

        .card-flyer:hover {
            position: relative;
            transform: scale(1.2);
            -webkit-transition: all .9s ease;
            -moz-transition: all .9s ease;
            -o-transition: all .9s ease;
            -ms-transition: all .9s ease;
            border: 5px solid whitesmoke;
            border-radius: 10px;
            margin: 0;
        }

        #cards_landscape_wrap-2 .card-flyer:hover .image-box img {
            opacity: 1;
            -webkit-transform: scale(1.15);
            -moz-transform: scale(1.15);
            -ms-transform: scale(1.15);
            -o-transform: scale(1.15);
            transform: scale(1.15);

        }

        .z-test {
            z-index: 1;

        }

        .z-test:hover {
            z-index: 900 !important;

        }

        .hover-img {
            /* background-color: #000; */
            color: #fff;
            /* display: inline-block; */
            /* margin: 8px; */

            overflow: hidden;
            position: relative;
            text-align: center;
            width: 100%;
        }

        .hover-img:before,
        .hover-img:after {
        }


        .hover-img figcaption {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            align-items: center;
            z-index: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            line-height: 1.1em;
            opacity: 0;
            z-index: 2;
            transition-delay: 0.2s;
            font-size: 24px;
            font-family: sans-serif;
            font-weight: 400;
            letter-spacing: 1px;
            text-transform: uppercase;
            -webkit-transition: all .9s ease;
            -moz-transition: all .9s ease;
            -o-transition: all .9s ease;
            -ms-transition: all .9s ease;

        }

        .hover-img:hover:before,
        .hover-img:hover:after {

            opacity: 1;
        }

        .hover-img:hover figcaption {
            opacity: 0.8;
        }

        .contOver {
            position: absolute;
            height: 100%;
        }

        .titolo {
            position: relative;
            left: inherit;
            /* top: calc(inherit - 50%); */
            top: 50%;
            /* right: 40%; */
        }

        .genere {
            position: relative;
            top: 50%;
            left: inherit;
        }

        .anno {
            position: relative;
            left: inherit;
            top: 50%;
        }


    </style>
</head>

<body>


<!--    <option th:each="film: ${filmList}" th:value="${film.id}" th:text="${film.titolo}"></option>-->


<!--<div th:if="${param.logout}">-->

<!--    <div class="alert alert-success col-xs-offset-1 col-xs-10">-->
<!--        You have been logged out.-->
<!--    </div>-->

<!--</div>-->

<!--<div th:if="${param.error}">-->

<!--    <div class="alert alert-success col-xs-offset-1 col-xs-10">-->
<!--        You have been logged out.-->
<!--    </div>-->

<!--</div>-->

<!--<div th:if="${param.login}">-->

<!--    <div class="alert alert-success col-xs-offset-1 col-xs-10">-->
<!--        You have been logged in.-->
<!--    </div>-->

<!--</div>-->

<!--              TEST AUTH-->
<!--<table class="table table-bordered table-striped">-->
<!--    <thead class="thead-dark">-->
<!--    <tr>-->
<!--        <th>Titolo</th>-->
<!--        <th>Regista</th>-->
<!--        <th>Genere</th>-->
<!--        <th>Azioni</th>-->


<!--    </tr>-->
<!--    </thead>-->

<!--    <tr th:each="film : ${filmList}">-->

<!--        <td th:text="${film.titolo}" />-->
<!--        <td th:text="${film.regista}" />-->
<!--        <td th:text="${film.getGenere().nomeGenere}" />-->

<!--        <td>-->
<!--            <a th:href="@{/film/update(filmId=${film.id})}" class="btn btn-info btn-sm">-->
<!--                Update-->
<!--            </a>-->
<!--        </td>-->

<!--        <td>-->
<!--            <a th:href="@{/film/delete(filmId=${film.id})}" class="btn btn-danger btn-sm"-->
<!--               onclick="if (!(confirm('Sei sicuro di voler eliminare questo film?'))) return false">-->
<!--                delete-->
<!--            </a>-->
<!--        </td>-->
<!--        <div sec:authorize="isAuthenticated()"><a class="nav-link" href="/logout">testami</a>-->

<!--            Logged user: <span sec:authentication="name"></span>-->
<!--&lt;!&ndash;            Logged user: <span sec:authentication="ruolo"></span>&ndash;&gt;-->
<!--            Roles: <span sec:authentication="principal.authorities"></span>-->
<!--        </div>-->


<!--    </tr>-->
<!--</table>-->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark borderDown">
    <div class="container-fluid">
        <a class="navbar-brand textSec onBord p-3" th:href="@{/home}"><h1 class="logo">VideoFlix</h1></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a th:href="@{/home}" class="nav-link onBord">
                        home
                    </a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/film/catalogo}" class="nav-link onBord">
                        CatalogoFilm
                    </a>


                </li>
                <li sec:authorize="hasRole('ADMIN')" class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle onBord" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Pannello Admin
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" th:href="@{/user/management}">Gestione Utenti</a></li>
                        <li><a class="dropdown-item" th:href="@{/user/add}"> Aggiungi Utente</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Gestione Genere</a></li>
                        <li><a class="dropdown-item" th:href="@{/genere/create}">Crea Genere</a></li>


                    </ul>
                </li>

            </ul>

        </div>
        <ul class="navbar-nav me-auto pe-5 mb-2 mb-lg-0">
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link active onBord" href="javascript: document.logoutForm.submit()" role="menuitem">
                    Logout</a>
                <!--            <li class="nav-item">-->
                <!--                <a class="nav-link active onBord" aria-current="page" href="#">Logout</a>-->
                <!--            </li>-->
                <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                    <input hidden type="submit" value="Sign Out"/>
                </form>
            </li>
            <li class="nav-item" sec:authorize="!isAuthenticated()">
                <a class="nav-link active onBord" th:href="@{/login}" role="menuitem">
                    Login </a>
            </li>

            <li class="nav-item" sec:authorize="!isAuthenticated()">
                <a class="nav-link active onBord" th:href="@{/user/register}" role="menuitem">
                    registrati </a>

            </li>
        </ul>

    </div>
</nav>


<div id="cards_landscape_wrap-2">
    <div class="container-fluid bg-dark p-5">

        <div class="row justify-content-center searchRow bg-danger  mx-5 px-5">

            <div class=" textWhiteC    ">

                            <span class="">Ordina Per: ANNO:

                              <a class="btn btn-primary btnCustom spacingL  onBord" th:href="@{/film/catalogo/aDesc}">Nuovo</a>
                          <a class="btn btn-primary btnCustom onBord spacingL"
                             th:href="@{/film/catalogo/aAsc}">Vecchio</a>

                            TITOLO:
                         <a class="btn btn-primary btnCustom onBord spacingL " th:href="@{/film/catalogo/taz}">a-z</a>
                                <a class="btn btn-primary btnCustom onBord spacingL"
                                   th:href="@{/film/catalogo/tza}">z-a</a>

                                <!--                        regista-->
                                <!--                        <button type="submit" class="btn btn-primary btnCustom">+</button>-->
                                <!--                    <button type="submit" class="btn btn-primary  btnCustom">+</button>-->

                            </span>

                <span>

                                <span class="" sec:authorize="hasRole('ADMIN')">
                                    <a th:href="@{/film/create}" class=" py-3 ">
                                    <button type="submit" class="btn btn-primary btnCustom my-4 onBord spacingL ">Aggiungi Film</button>
                                    </a>

                            </span>


            </div>
        </div>

        <h1 class="text-white mt-5  ms-5 ps-3">Film ordinati per :</h1>
        <div class="row my-5  ms-5  ">

            <tr th:each="film : ${filmList}">
                <div class="col-12  col-md-4 col-lg-4 z-test my-2 ">
                    <a href="">
                        <div class="card-flyer ">
                            <div class="text-box hover-img">
                                <div class="image-box  ">
                                    <img src="https://cdn.pixabay.com/photo/2018/04/06/13/46/poly-3295856_960_720.png"
                                         alt="" class="img-fluid"/>

                                    <figcaption>
                                        <div class=" container-fluid bg-dark contOver">
                                            <h3 class="titolo" th:text="${film.titolo}"></h3>
                                            <h3 class="genere" th:text="${film.getGenere().nomeGenere}"></h3>
                                            <h3 class="genere" th:text="${film.anno}"></h3>

                                            <h3 class="anno" th:text="${film.regista}">

                                            </h3>
                                        </div>
                                    </figcaption>
                                </div>
                            </div>
                        </div>
                    </a>
                    <td sec:authorize="hasRole('ADMIN')">
                        <a th:href="@{/film/update(filmId=${film.id})}"
                           class="btn btn-warning onBord btnCustom my-4 spacingL ">
                            Modifica Film
                        </a>
                    </td>

                    <td sec:authorize="hasRole('ADMIN')">
                        <a th:href="@{/film/delete(filmId=${film.id})}" class="btn btn-danger onBord btnCustom my-4 spacingL "
                           onclick="if (!(confirm('Sei sicuro di voler eliminare questo film?'))) return false">
                            Elimina Film
                        </a>
                    </td>
                </div>
            </tr>
        </div>
    </div>
</div>


</body>

</html>






